.categories {
  &__wrapper {
    display: grid;
    row-gap: 40px;

    @include on-tablet {
      row-gap: 56px;
    }
  }

  &__button {
    margin-top: 40px;
    grid-column: 1 / -1;

    @include on-tablet {
      margin-top: 56px;
    }

    @include on-desktop {
      grid-column: span 4;
    }

    &-wrapper {
      width: 100%;

      @include page-grid;
    }
  }
}
