.main {
  background-color: #fff;

  &__content {
    display: grid;
    padding-block: 64px 96px;
    row-gap: 96px;

    @include on-tablet {
      padding-block: 120px;
      row-gap: 120px;
    }
  }

  &__border {
    background-image: url(../images/main-border.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 200px;

    @include on-tablet {
      height: 200px;
    }

    @include on-desktop {
      height: 460px;
    }
  }
}
